<% include header %>

<div class="row">
<div class="col-xs-12">
<h1 class="hidden-xs">Timestamp Microservice API</h1>
<h3>About</h3>
<p><strong class="text-success">url</strong> provides free usage of its timestamp API through JSON response format.</p>
<h3>Usage</h3>
<p>To receive the response, send a GET request to</p>
<code>/api/<strong>datestring</strong></code>
<br />
<br />
<p>Where <code><strong>datestring</strong></code> can be a:</p>
<ul>
  <li>Any <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a> date.</li>
  <li>A <a href="https://en.wikipedia.org/wiki/Unix_time" target="_blank">Unix timestamp</a>.</li>
  <li>A <strong>"Natural" or spoken</strong> date, such as <em>Thursday 4th April 2030</em> or <em>Thursday, April 4 2030</em>.</li>
</ul>
<h3>Response</h3>
<p>A successuful request will return the following:</p>
<pre class="text-danger">
{
  "unix": "1901484000",
  "unixMilliseconds": "1901484000000",
  "natural": "Thursday, April 4th 2030",
  "isoString": "2030-04-03T22:00:00.000Z",
  "parsed": {
  "years": 2030,
  "months": 3,
  "date": 4,
  "hours": 0,
  "minutes": 0,
  "seconds": 0,
  "milliseconds": 0
}
</pre>
<p>A failed request will return the following:</p>
<pre class="text-danger">
{
  "unix": null,
  "natural": null
}
</pre>
</div>
</div>

<% include footer %>